@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.main_div_text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .logo_image {
    width: 35rem;
  }
  .middel_div_text {
    color: white;
    width: 26rem;
    text-align: justify;
  }

  .sticky-text {
    margin-right: 55%;
  
  }
  .sticky-image{
    margin-left: 60%;
    margin-top: -10%;
  
  }
  
  
  @media (max-width:500px) {
    .sticky-text {
      margin-right: -14%;
    
    }
    .sticky-image{
      margin-left: 13%;
      margin-top: -88%;
      width: 70%;
    
    }
  }
}
