@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.footer_main_div {
  width: 100%;
  background-color: black;
  height: 5rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
}
